<table class="table table-striped" width="100">
  <thead>
    <tr>
      <th scope="col" style="visibility:collapse;">Id</th>
      <th scope="col">Spesa</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let spesa of elencoSpesa | paginate: { itemsPerPage: righe, currentPage: pagina }">
      <td style="visibility:hidden;" >{{spesa.idSpesa}}</td>
      <td>{{spesa.spesaElenco}}</td>
      <td>{{spesa.dateListaSpesa}}</td>
    </tr>
  </tbody>
</table>

<div class="clearfix">
  <pagination-controls
  (pageChange)="pagina = $event"
  previousLabel="Precedente"
  nextLabel="Successivo">
  </pagination-controls>
</div>
