<table class="table table-striped" width="100">
  <thead>
    <tr>
      <th scope="col" style="visibility:collapse;">Id</th>
      <th scope="col">Spesa</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let spesa of elencoSpesa">
      <td style="visibility:hidden;" >{{spesa.idSpesa}}</td>
      <td>{{spesa.spesaElenco}}</td>
      <td>{{spesa.dateListaSpesa}}</td>
    </tr>
  </tbody>
</table>

<!--
<table>
  <thead></thead>
  <tbody>
      <tr class="clickable" *ngFor="let item of items" [routerLink]="['/otherpage/', item.Id]">
         <td>{{item.name}}</td>
         <td>
            <ul>
               <li *ngFor="let detail of item.details">
                  {{detail}}
               </li>
            </ul>
         </td>
      </tr>
  </tbody>
</table>
-->
