
<form name="loginForm" #f="ngForm" (ngSubmit)="invioSpesa(f)">

  <input type="hidden" class="form-control" id="idSpesa" name="idSpesa" idSpesa ngModel  #idSpesa="ngModel" [(ngModel)]="spesa.idSpesa">

  <div class="form-group row">
    <label for="spesa" class="col-sm-2 col-form-label">Spesa</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="spesa" rows="3" id="spesa" name="spesa" spesa ngModel #spesaF="ngModel" [(ngModel)]="spesa.spesaElenco"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" email ngModel #email="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Invio mail</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="invio" name="invio" invio ngModel #invio="ngModel" [(ngModel)]="spesa.invioMail">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="btn-toolbar">
      <div>
          <button type="submit" class="btn btn-primary btn-sm mr-1">Invia</button>
      </div>
      <div>
        <button type="button" class="btn btn-danger btn-sm"  *ngIf="spesa.idSpesa !== null" (click)="eliminaSpesa(spesa.idSpesa)">Elimina</button>
      </div>
    </div>
  </div>
</form>
<div class="alert alert-success p-1" role="alert" ng-show="messaggioOK === true">
  {{messaggioResp}}
</div>

