<form name="loginForm" #f="ngForm" (ngSubmit)="invioSpesa(f)">
  <div class="form-group row">
    <label for="spesa" class="col-sm-2 col-form-label">Spesa</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="spesa" name="spesa" spesa ngModel #spesa="ngModel"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" email ngModel #email="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Invio mail</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="invio" name="invio" invio ngModel #invio="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Invia</button>
    </div>
  </div>
</form>
